.Pokemons {
  width: 20%;
  padding: 2%;
  display: flex;
  justify-content: center;
  font-size: 26px;
  color: white;
  background-color: black;
  border: 3px solid red;
  border-radius: 20px;
  margin-left: 38%;
  margin-top: 3%;
  margin-bottom: 3%;
}
