.card {
  border: 3px solid rgb(255, 0, 0);
  padding: 2%;
  margin-top: 2%;
  background-color: black;
  border-radius: 15px;
}
.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
  font-size: 20px;
}
.rick-and-morty {
  width: 20%;
  padding: 2%;
  display: flex;
  justify-content: center;
  font-size: 26px;
  color: white;
  background-color: black;
  border: 3px solid red;
  border-radius: 20px;
  margin-left: 38%;
  margin-top: 3%;
  margin-bottom: 3%;
}
.list {
  display: flex;
  text-align: center;
}
h4 {
  margin-bottom: 10%;
}
.status {
  margin-top: 5%;
}
.img {
  margin-bottom: 10%;
}
